@font-face {
    font-family: 'nasalization';
    src: url('../../../assets/fonts/nasalization-rg.otf') format('truetype');
}

.fondoMain{
    background-image: url('/assets/fondo.png');
    background-position-y:-1em;
    background-size: cover;
    background-repeat: repeat;
}
@media(min-width: 780px) {
    .fondoMain{
        background-image: url('/assets/fondo.png');
        background-position-y:-1em;
        background-size: cover;
        background-repeat: repeat;
        height: 100%;
    }
}

.tituloMain{
    width: 10em; height: 13em; 
    background-image: url('/assets/Inicio.png');
    background-position-x: center;
    background-position-y: -8em;
    background-size: 45em;
    background-repeat: no-repeat;
}

.bfav{
    background-image: url('/assets/main_fav.png');
    box-shadow: 0px 0px 15px 5px #106BCB;
    border: #31b2ddec 1px solid;
    background-position: center center; 
    background-size: 21em; 
    background-repeat: no-repeat;
    opacity: 0.9; 
    height:12em; 
    width: 18em;
}
.bquiz{
    background-image: url('/assets/main_quiz.png');
    border: #f76deb 1px solid;
    box-shadow: 0px 0px 15px 5px #FB39C3;
    background-position: center center; 
    background-size: cover; 
    background-repeat: no-repeat;
    opacity: 0.9;
    height: 12em;
    width: 18em;
}

.titulo{
    font-family: nasalization;
    text-shadow: 0.1em 0.1em 0.3em black
}

button p{
    padding-top: 8.3em;
}