<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="background: radial-gradient(#39566c 40%, #54697a); opacity: 0.9; ">
    <div class="container-fluid">
        <a class="navbar-brand fw-bolder fs-2 " href="/main" style="font-family: nasalization; text-shadow: 0.1em 0.1em 0.2em black"><img width="50px" src="assets/icono.png" class="img-fluid"> InstruChoice</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end bg-dark " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel" style="font-family: nasalization; text-shadow: 0.1em 0.1em 0.2em black">InstruChoice</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/main">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/favoritos">Favoritos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <button (click)="clickLogOut()" class="btn btn-outline-danger mt-0">Log out</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="fondoMain container-fluid pb-5">
    <div class="row p-0 m-0 d-flex justify-content-center">
        <div class="tituloMain col"></div>
    </div>
    <div class="row pb-5">
        <div class="col-12 col-md-6 d-flex justify-content-center p-4">
            <button (click)="clickInstru()" class="bfav btn btn-primary p-5 fs-2 fw-bolder"><p class="titulo">Instrumentos</p></button>
        </div>
        <div class="col-12 col-md-6 p-4 d-flex justify-content-center">
            <button (click)="clickQuiz()" class="bquiz btn btn-danger p-5 fs-2 fw-bolder"><p class="titulo">Quiz</p></button>
        </div>
    </div>
</div>

