{{> cabeza}}
    <div class="row">
        <div class="col">
            <form method="post" action="">
                <input type="hidden" name="id" value="{{articulo.id}}"/>
        </div>
    </div>
    <div class="row">
        <div class="col">
                <label>Nombre:</label>
                <input type="text" name="nombre" value="{{cliente.nombre}}"/>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
                <label>Email:</label>
                <input type="text" name="email" value="{{cliente.email}}"/>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
                <input type="submit" value="Guardar" name="guardar"/>
            </form>
        </div>
    </div>
{{> pie}}