<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" style="background: radial-gradient(#39566c 40%, #54697a); opacity: 0.9; ">
    <div class="container-fluid">
        <a class="navbar-brand fw-bolder fs-2 " href="/main" style="font-family: nasalization; text-shadow: 0.1em 0.1em 0.2em black"><img width="50px" src="assets/icono.png" class="img-fluid"> InstruChoice</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end bg-dark " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-light" id="offcanvasNavbarLabel" style="font-family: nasalization; text-shadow: 0.1em 0.1em 0.2em black">InstruChoice</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/main">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/favoritos">Favoritos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/contacto">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <button (click)="clickLogOut()" class="btn btn-outline-danger mt-0">Log out</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<div class="fondoContacto container-fluid pb-5">
    <div class="row p-0 m-0 d-flex justify-content-center">
        <div class="tituloContacto col"></div>
    </div>
    <div class="row d-flex justify-content-center mb-4" style="margin-top: -35px;">
        <div class="col-8 col-lg-4 ">
            <div *ngIf="emailEnviado" class="d-flex justify-content-center text-light bg-success rounded p-1 mt-4">El email se ha enviado correctamente.<br>Recibirá una respuesta en menos de 24h.</div>
        </div>
    </div>    
    <div class="row pb-3">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <form class="contact-form" (submit)="sendEmail($event)">
                <div class="row mt-5">
                    <div class="col-4 fs-4 text-white">
                        <label>Nombre</label>
                    </div>
                    <div class="col-7">
                        <input class="texto" type="text" name="emailjs_name">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4 fs-4 text-white">
                        <label>Email</label>
                    </div>
                    <div class="col-7">
                        <input class="texto" type="email" name="emailjs_email">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-4 fs-4 text-white">
                        <label>Mensaje</label>
                    </div>
                    <div class="col-7">
                        <textarea name="emailjs_message" cols="26" rows="5"></textarea>
                    </div>
                </div>
                <div class="row mt-3" style="margin-right: -2em;">
                    <div class="col d-flex justify-content-end pb-5">
                        <input target="_blank" type="submit" class="enviar btn btn-primary fs-5" value="Enviar" (click)="enviarEmail()">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
