.fondoContacto{
    background-image: url('/assets/fondo.png');
    background-position-y:-1em;
    background-size: cover;
    background-repeat: repeat;
}

.tituloContacto{
    width: 10em; height: 11em; 
    background-image: url('/assets/Contacto.png');
    background-position-x: center;
    background-position-y: -6em;
    background-size: 45em;
    background-repeat: no-repeat;
}


.texto{
    opacity: 0.78;
    border-radius: 5em;
    padding-right: 3em;
}
textarea{
    opacity: 0.78;
    border-radius: 20px;
    padding-right: 3em;

}

.enviar{
    background-color: #31b2ddec; 
    box-shadow: 0px 0px 16px 5px rgba(70, 187, 207, 0.733);
}


.slider {
    background-color: rgba(128, 128, 128, 0.493);
    border-radius: 1em;
    margin-left: 2.2em;
    margin-bottom: 2em;
    display: flex;
    width: 90%;
    height: 15vh;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
}
